<a href="https://colab.research.google.com/github/jrg94/CSE5522/blob/lab1/lab1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**1.0**: Set up the environment (you can click on the play button below to import the appropriate modules).

In [0]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

**1.1** Read the data from GitHub into a pandas dataframe.

In [0]:
micro_rna_data_url = 'https://raw.githubusercontent.com/efosler/cse5522data/master/miRScore-x.csv'
micro_ran_dataframe = pd.read_csv(micro_rna_data_url)
micro_rna_well_data_url = 'https://raw.githubusercontent.com/efosler/cse5522data/master/mRNA-y-well-explained.csv'
micro_rna_well_dataframe = pd.read_csv(micro_rna_well_data_url)

**1.2** Print out the top of the dataframe to make sure that the data loaded correctly.  It should be a data table with two columns (price, sf), and 5 rows, with the first row 220000,2240.

In [6]:
micro_ran_dataframe.head()

   Unnamed: 0     MIRC1     MIRC2  ...    MIRC19    MIRC20    MIRC21
0           1  5.453767  4.383828  ...  3.977328  5.501027  4.756962
1           2  4.321988  3.986583  ...  4.199990  5.224254  4.429511
2           3  4.089116  4.178590  ...  3.138479  5.682007  4.403253
3           4  4.884692  4.061140  ...  4.542415  5.469924  4.693171
4           5  4.053976  4.224208  ...  2.677879  5.577007  4.290140

[5 rows x 22 columns]